<div>
  <div class="author font-bold">
    <%= message.user.nickname %>
  </div>
  <div class="createtime">
    <%= message.created_at %>
  </div>
  <div class="content">
    <%= message.content %>
  </div>
</div>