<<<<<<< HEAD
<% if !@divide_exist && @last_enter_at && (@last_enter_at < message.created_at) %>
  <% @divide_exist = true %>
  <div class='flex text-right divide'>
    <span class='h-0 border-b-0 border-t-2 block flex-grow border-red-600 my-auto'></span>
    <span class="pl-3">new</span>
  </div>
<% end%>
<div class="messages_child pl-5">
  <div class="author font-bold">
=======
<div class="flex justify-between">
  <div class="txt flex">
    <div class="author">
>>>>>>> 19f1d94... share btn style
    <%= message.user.nickname %>
    </div>
    <div class="createtime">
      <%= message.created_at.strftime("%I:%M") %>
    </div>
    <div class="content">
      <%= message.content %>
    </div>
  </div>
  <button class="btn btn-blue">
    <%= link_to 'share', message_share_path(message.id), method: "post"%>
  </button>
</div>



