<div class="language pl-5 mb-5 flex">
  <div class="chinese pr-2"><%= link_to "中文版", :controller => controller_name, :action => action_name, :locale => "zh-TW"%></div>
  <div class="english"><%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %></div>
</div> 	