<div class="bg-gray-700 text-white relative h-screen">
  <div class="xl:w-2/3">
    <%= form_with(model: @message, url:channel_messages_path(@channel) , class: "fixed bottom-0 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500", id:"new_message") do |f| %>
      <div class="flex">
        <%= f.text_field :content, class:"w-9/12", placeholder: t("msgform.placeholder") %>
        <%= f.submit t("form.submit"), class:"w-1/12 bg-gray-500 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" %>
      </div>
    <% end %>
  </div>
</div>