 <%# nav導覽列 %>
<div class="nav">
  <nav class="container mx-auto py-3 flex items-center justify-center">
    <h1 class="w-1/6">
      <%= link_to image_pack_tag("media/images/Slack_logo_new.png"),pages_path %>
    </h1>
  </nav>
</div>