
<% message.emoji_data.compact.each do |key, value| %>
  <!-- <button class="emoji_key"><%= key %></button> -->
  <%= button_to key, emoji_message_path(message.id, emoji: key), remote: true, class: value.include?(current_user.id) ? 'mine' : '' %>
  <span><%= value.length %></span>
<% end %>