<%# 右方資訊區 %>
<div class="info hidden w-1/6 min-w-200 border-l border-gray-400">
  <div class="box-border border-b border-gray-400 h-16">
    <button class="info-cancel">X</button>
  </div>
</div>