<div class="container mx-auto max-w-xl">
  <h2 class="text-2xl text-gray-700 font-bold text-center my-5 border-b-2">Edit webhook</h2>
</div>

  <%= render 'error', webhook: @webhook %>
  <%= render 'form', webhook: @webhook, url: webhook_path(@webhook), user_channels: @user_channels %>
  
