<h2 class="text-2xl text-gray-700 font-bold text-center my-5">Add New Webhook</h2>

  <%= render 'error', webhook: @webhook %>
  <%= render 'form', webhook: @webhook, user_channels: @user_channels %>

