<nav class="container mx-auto mt-4 py-4 flex items-center justify-center">
    <h1 class="w-1/4">
      <%= link_to image_pack_tag("media/images/Sladock_logo.png"),pages_path %>
    </h1>
</nav>
  <%# get_started %>
<div class="group container mx-auto mb-10 flex justify-center flex-wrap ">
  <div class="sign_in px-10 py-16 max-w-400 border border-gray-400 rounded-l">
    <h2 class="text-3xl font-bold leading-tight mb-3">Try Sladock with your team, for free</h2>
    <p class="mb-6">Start to work with your team, create a workspace.</p>
    <%= link_to 'Sign up', new_user_registration_path,class: "block text-center text-sladock font-bold w-full py-2 border border-gray-400 rounded hover:bg-gray-100 transition-all duration-100"%>
  </div>
  <div class="get_started px-10 py-16 max-w-400 bg-sladock text-white rounded-r">
    <h2 class="text-3xl font-bold leading-tight mb-3">Joining an existing workspace.</h2>
    <p class="mb-6">Sign in and join your team's workspace.</p>
    <%= link_to 'Sign in to Sladock', new_user_session_path,class:"block text-center text-sladock font-bold bg-white w-full py-2 border border-gray-400 rounded hover:bg-gray-100 transition-all duration-100" %>
  </div>
</div>
<%# 如果登入過且有WS的話這邊會顯示 %>
<div class="container mx-auto mb-5 text-center font-bold">
  <p>You’re already signed in to…</p>
</div>
<%# get_started_tip %>
<div class="get_started_tip container mx-auto flex max-w-xl">
  <div class="text py-5 pr-3 flex flex-wrap justify-center sm:block">
    <p class="text-sm font-bold mb-2">What’s a Sladock workspace?</p>
    <p class="text-sm ">By Invitation Only. The Sladock workspaces are available only to those who were invited</p>
  </div>
  <div class="hidden sm:block">
    <%= image_pack_tag("media/images/get-started-workspace-tip-9764b79.png")%>
  </div>
</div>
