<%# render nav導覽列 %>
<%= render './shared/nav' %>
  <%# get_started %>
<div class="group container mx-auto mb-10 flex justify-center flex-wrap ">
  <div class="sign_in px-10 py-16 max-w-400 border border-r-0  border-gray-400 rounded-l">
    <h2 class="text-3xl font-bold leading-tight mb-3">Try Slack with your team, for free</h2>
    <p class="mb-6">Create a brand-new workspace for you and your team.</p>
    <%= link_to 'Sign up', new_user_registration_path,class: "block text-center text-sladock font-bold w-full py-2 border border-gray-400 rounded hover:bg-gray-100 transition-all duration-100"%>
  </div>
  <div class="get_started px-10 py-16 max-w-400 bg-deep_sladock text-white rounded-r">
    <h2 class="text-3xl font-bold leading-tight mb-3">Is your team already using Slack?</h2>
    <p class="mb-6">Find and sign in to your team’s existing workspace.</p>
    <%= link_to 'Sign in to Slack', new_user_session_path,class:"block text-center text-sladock font-bold bg-white w-full py-2 border border-gray-400 rounded hover:bg-gray-100 transition-all duration-100" %>
  </div>
</div>
<%# 如果登入過且有WS的話這邊會顯示 %>
<div class="container mx-auto mb-5 text-center font-bold">
  <p>You’re already signed in to…</p>
</div>
<%# get_started_tip %>
<div class="get_started_tip container mx-auto flex max-w-xl">
  <div class="text py-5 pr-3 flex flex-wrap">
    <p class="text-sm font-bold mb-2">What’s a Slack workspace?</p>
    <p class="text-sm">Each company that uses Slack has a workspace of their own. It’s where all of their conversations and files are kept, and it can only be joined by invitation.</p>
  </div>
  <%= image_pack_tag("get-started-workspace-tip-9764b79.png") %>
</div>
