<% if !@divide_exist && @last_enter_at && (@last_enter_at < message.created_at) %>
  <% @divide_exist = true %>
  <div class='flex text-right divide'>
    <span class='h-0 border-b-0 border-t-2 block flex-grow border-red-600 my-auto'></span>
    <span class="pl-3">new</span>
  </div>
<% end%>
<div class="messages_child pl-5">
  <div class="flex justify-between hover:bg-gray-100 relative txtcolumn mt-2 mb-2">
    <div class="txt flex">
      <div class="author font-bold mr-2">
        <%= message.user.nickname %>
      </div>
      <div class="share-msg flex-col">
        <div class="createtime mr-2">
          <%= message.created_at.strftime("%I:%M") %>
        </div>
        <div class="content">
          <%= message.content %>
        </div>
    </div>
  </div>
</div>