.btn {
    @apply font-bold py-2 px-2 rounded;
  }
  .btn-blue {
    @apply bg-blue-500 text-white;
  }

.txtcolumn .share-btn{
  display: none;
}

.txtcolumn:hover .share-btn{
  display: block;
}

.select2-container .select2-selection--single .select2-selection__rendered{
  width: 300px;
}